n8n-workflows/meeting-notes-ui.json
{
  "name": "Meeting Notes UI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "meeting-notes-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ui",
      "name": "Webhook UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, type, source, meeting_date, created_at, LEFT(content, 200) as preview FROM meeting_notes ORDER BY created_at DESC LIMIT 50",
        "options": {}
      },
      "id": "postgres-ui",
      "name": "PostgreSQL - Get Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const notes = $input.all().map(i => i.json);\n\nconst html = `<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>회의록 시스템</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; background: #f5f5f5; padding: 20px; }\n    .container { max-width: 1200px; margin: 0 auto; }\n    h1 { color: #333; margin-bottom: 20px; }\n    .search-box { margin-bottom: 20px; display: flex; gap: 10px; }\n    .search-box input { flex: 1; padding: 12px; border: 1px solid #ddd; border-radius: 8px; font-size: 16px; }\n    .search-box button { padding: 12px 24px; background: #007bff; color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 16px; }\n    .search-box button:hover { background: #0056b3; }\n    .notes-list { display: grid; gap: 15px; }\n    .note-card { background: white; padding: 20px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n    .note-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; }\n    .note-title { font-size: 18px; font-weight: 600; color: #333; }\n    .note-meta { display: flex; gap: 10px; }\n    .badge { padding: 4px 8px; border-radius: 4px; font-size: 12px; font-weight: 500; }\n    .badge-type { background: #e3f2fd; color: #1976d2; }\n    .badge-source { background: #f3e5f5; color: #7b1fa2; }\n    .note-date { color: #666; font-size: 14px; }\n    .note-preview { color: #555; line-height: 1.6; margin-top: 10px; }\n    .modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); justify-content: center; align-items: center; }\n    .modal-content { background: white; padding: 30px; border-radius: 12px; max-width: 800px; max-height: 80vh; overflow-y: auto; width: 90%; }\n    .modal-header { display: flex; justify-content: space-between; margin-bottom: 20px; }\n    .modal-close { cursor: pointer; font-size: 24px; }\n    #search-results { margin-top: 20px; }\n    .score { color: #28a745; font-weight: 500; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>회의록 시스템</h1>\n    <div class=\"search-box\">\n      <input type=\"text\" id=\"searchInput\" placeholder=\"검색어를 입력하세요 (벡터 검색)\">\n      <button onclick=\"searchNotes()\">검색</button>\n    </div>\n    <div id=\"search-results\"></div>\n    <div class=\"notes-list\">\n      ${notes.map(n => \\`\n        <div class=\"note-card\" onclick=\"showDetail(${n.id})\">\n          <div class=\"note-header\">\n            <span class=\"note-title\">${n.title || '제목 없음'}</span>\n            <div class=\"note-meta\">\n              <span class=\"badge badge-type\">${n.type || 'original'}</span>\n              <span class=\"badge badge-source\">${n.source || 'manual'}</span>\n            </div>\n          </div>\n          <div class=\"note-date\">${n.meeting_date || ''} | ${new Date(n.created_at).toLocaleDateString('ko-KR')}</div>\n          <div class=\"note-preview\">${(n.preview || '').substring(0, 150)}...</div>\n        </div>\n      \\`).join('')}\n    </div>\n  </div>\n  <div class=\"modal\" id=\"modal\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <h2 id=\"modal-title\"></h2>\n        <span class=\"modal-close\" onclick=\"closeModal()\">&times;</span>\n      </div>\n      <div id=\"modal-body\"></div>\n    </div>\n  </div>\n  <script>\n    async function showDetail(id) {\n      const res = await fetch('/webhook/meeting-notes-detail?id=' + id);\n      const data = await res.json();\n      if (data.success && data.data) {\n        document.getElementById('modal-title').textContent = data.data.title;\n        document.getElementById('modal-body').innerHTML = '<pre style=\"white-space:pre-wrap;\">' + data.data.content + '</pre>';\n        document.getElementById('modal').style.display = 'flex';\n      }\n    }\n    function closeModal() { document.getElementById('modal').style.display = 'none'; }\n    async function searchNotes() {\n      const query = document.getElementById('searchInput').value;\n      if (!query) return;\n      const res = await fetch('/webhook/meeting-notes-search', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ query })\n      });\n      const data = await res.json();\n      const resultsDiv = document.getElementById('search-results');\n      if (data.success && data.results.length > 0) {\n        resultsDiv.innerHTML = '<h3>검색 결과</h3>' + data.results.map(r => \\`\n          <div class=\"note-card\" onclick=\"showDetail(${r.payload.postgres_id})\">\n            <div class=\"note-header\">\n              <span class=\"note-title\">${r.payload.title}</span>\n              <span class=\"score\">유사도: ${(r.score * 100).toFixed(1)}%</span>\n            </div>\n            <div class=\"note-preview\">${(r.payload.content || '').substring(0, 150)}...</div>\n          </div>\n        \\`).join('');\n      } else {\n        resultsDiv.innerHTML = '<p>검색 결과가 없습니다.</p>';\n      }\n    }\n    document.getElementById('searchInput').addEventListener('keypress', e => { if (e.key === 'Enter') searchNotes(); });\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "code-html",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "response-ui",
      "name": "Response UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook UI": {
      "main": [[{ "node": "PostgreSQL - Get Data", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Get Data": {
      "main": [[{ "node": "Generate HTML", "type": "main", "index": 0 }]]
    },
    "Generate HTML": {
      "main": [[{ "node": "Response UI", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
